@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e8ba22;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 3px solid steelblue;
  background-color: whitesmoke;
}

.toolbox {
  background-color: steelblue;
  border: 3px solid slateblue;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px  #e8ba22;
}

.toolbox > *:last-child {
  margin-right: 0;
}
.toolbox > *:nth-last-child(2) {
  margin-left: auto;
}

@media only screen and (max-width: 800px) {
    #canvas{
        width:80vw;
        height:70vh;
    }
    .toolbox{
      width:80vw;
      height:15vh;
    }
    .toolbox > * {
      font-size: 1.2rem;
      border-radius: 10px;
    }
  }

